<br />
<div class="d-flex justify-content-center">
  <h1> Jours fériés et RTT employeurs </h1>
</div>
<br />
<div class="d-flex justify-content-center">
  <table class="table">
    <thead>
      <tr>
        <th id="col20" scope="col">Date de début</th>
        <th id="col20" scope="col">Date de fin</th>
        <th id="col20" scope="col">Type</th>
        <th id="col20" scope="col">Nom</th>
        <th id="colp" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="">
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
