<div class="row justify-content-center">
  <h1> Gestion des absences </h1>
</div>
<br />
<div class="row justify-content-center">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Type</th>
        <th scope="col">Statut</th>
        <th scope="col" style="width: 210px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let absence of listAbsences">
        <td>{{absence.dateDebut}}</td>
        <td>{{absence.dateFin}}</td>
        <td>{{absence.type}}</td>
        <td>{{absence.status}}</td>
        <td>

          <div class="d-flex justify-content-end">
            <div class=" p-2 bd-highlight"><button type="button" class="btn btn-sm btn-secondary"
                *ngIf="absence.status==='STATUS_INITIAL' || absence.status==='STATUS_REJETEE'"
                (click)="select(absence)">Modifier</button></div>
            <div class="p-2 bd-highlight"><button type="button" class="btn btn-sm btn-danger"
                (click)="supprAbs(absence.uuid)">Supprimer</button></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row justify-content-end">
  <a routerLink="/absd" routerLinkActive="menu-actif">Demander une absence</a>
</div>
<br />
<div class="row justify-content-start">
  <span> Solde des compteurs :
    <ul>
      <li *ngIf="collegueConnecte">Congés payés : {{collegueConnecte.nbCongesPayes}}</li>
      <li *ngIf="collegueConnecte"> RTT : {{collegueConnecte.nbRtt}}</li>
    </ul>
  </span>
</div>
