<h2 class="text-center">Vue par département par jour et par collaborateur</h2>
<form [formGroup]="form" >
  <div class="row justify-content-center">
    <div class="col-4">
        <div class="form-group form-inline">
            <label for="departement">Département</label>
            <select class="form-control" id="departement" formControlName="departement">
              <option *ngFor="let departement of departements" [ngValue]=departement>{{departement}}</option>
            </select>
          </div>
    </div>

    <div class="col-2">
        <div class="form-group form-inline">
            <label for="mois">Mois</label>
            <select class="form-control" id="mois" formControlName="mois">
              <option *ngFor="let mois of listeMois" [ngValue]=mois>{{mois.Text}}</option>
            </select>
          </div>
    </div>

    <div class="col-2">
        <div class="form-group form-inline">
            <label for="annee">Année</label>
            <select class="form-control" id="annee" formControlName="annee">
              <option *ngFor="let annee of annees" [ngValue]=annee>{{annee}}</option>
            </select>
          </div>
    </div>

    <div class="col-2">
      <button class="btn btn-secondary" type="submit">
          Search
        </button>
    </div>

    <div class="col-2">
      <button class="btn btn-success" type="button">
          Excel
        </button>
    </div>

  </div>
</form>


    
    
  
