//.p-datatable-striped {
    /*white-space:nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;*/
    //text-align: center;
    //display: block;
    //font-size: 12px;

 //}

 .dt {
    display: block;
    width: 120%;
    align-self: center;
    padding: 2rem;
 }

 .weekend {
     background-color: grey;
 }

 .Legende {
    font-style: italic;
    padding-right: 15rem;
     
 }

 .Head {

    margin-left: 15px;
 }

 .form {
     padding-left: 2rem;
 }