.cardConnexion {

    margin: 5rem;

}

.logoConnexion {
    width: 40%;
    padding-bottom: 2rem;
    //height: 30vh;
    //object-fit: contain;
    }

.formConnexion {
    width: 50%;
    display: inline-block;
}
