<ng-container *ngIf="collegueConnecte | async as col">
    
    <div class="lead" *ngIf="!col.estAnonyme()">

      <div class="jumbotron">
        <h1 class="display-4">Super Application</h1>
        
    <p>Utilisateur connecté : {{col.email}}</p>
      <p>Les rôles :</p>
      <ul>
        <li *ngFor="let r of col.roles">{{r}}</li>
      </ul>
      <div class="row">
        <button  class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</button>
        <app-menu-employe *ngIf="col.estEmploye()"></app-menu-employe>
        <app-menu-manager *ngIf="col.estManager()"></app-menu-manager>
        <app-menu-administrateur *ngIf="col.estAdmin()"></app-menu-administrateur>
        
      </div>

      </div>
    </div>
  
</ng-container>

<main class="container">
  <router-outlet></router-outlet>
</main>
