<ng-container *ngIf="collegueConnecte | async as col">

  <div class="lead" *ngIf="!col.estAnonyme()">
    <div id="jumbAppCompo" class="jumbotron">
      <h3 class="display-4">Super Application</h3>
    </div>

    <div class="d-flex justify-content-between">
      <app-menu-employe *ngIf="col.estEmploye()"></app-menu-employe>
      <app-menu-manager *ngIf="col.estManager()"></app-menu-manager>
      <app-menu-administrateur *ngIf="col.estAdmin()"></app-menu-administrateur>

      <button class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</button>
    </div>
  </div>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</ng-container>
