<ng-container *ngIf="collegueConnecte | async as col">

  <div class="lead" *ngIf="!col.estAnonyme()">
    <div id="jumbAppCompo" class="jumbotron">
      <h3 class="display-4">Super Application</h3>

      <label class="align-middle" id="traitdenuit" (click)="traitementDeNuit()"> Traitement de nuit
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-moon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14.53 10.53a7 7 0 0 1-9.058-9.058A7.003 7.003 0 0 0 8 15a7.002 7.002 0 0 0 6.53-4.47z"/>
        </svg>
      </label>

    </div>

    <div class="d-flex justify-content-between">
      <app-menu-employe *ngIf="col.estEmploye()"></app-menu-employe>
      <app-menu-manager *ngIf="col.estManager()"></app-menu-manager>
      <app-menu-administrateur *ngIf="col.estAdmin()"></app-menu-administrateur>


      <label class="align-middle" id="iconeclick" (click)="seDeconnecter()"> Se déconnecter
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z" />
          <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" />
        </svg>
      </label>

    </div>
  </div>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</ng-container>
