<nav ngbNav #nav="ngbNav" id="navMana" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/accueil">Accueil</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/absv">Gestion des absences</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/absp">Planning des absences</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/validation">Validation demandes</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/visuColDepMoisAnnee">Vue synthétique</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/jferiev">Jours feriés</a>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
