<nav ngbNav #nav="ngbNav" id="navAdmin" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/accueil">Accueil</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/absv">Gestion des absences</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/test1">Planning des absences</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/test2">Jours feriés</a>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
