/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
@import '~bootstrap/scss/bootstrap';

.cardConnexion {

    margin: 5rem;

}

.card-img {
    width: 40%;
    padding-bottom: 2rem;
    //height: 30vh;
    //object-fit: contain;
    }

.formConnexion {
    width: 50%;
    display: inline-block;
}

